<!-- Contact Section -->
<section id="contact" class="contact section light-background">

    <!-- Section Title -->
    <div class="container section-title">
        <h2>İletişim</h2>
        <p>Benimle iletişime geçmek isterseniz</p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-4 g-lg-5">
            <div class="col-lg-5">
                <div class="info-box" data-aos="fade-up" data-aos-delay="200">
                    <h3>İletişim Bilgileri</h3>

                    <div class="info-item" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box">
                            <i class="bi bi-telephone"></i>
                        </div>
                        <div class="content">
                            <h4>Telefon Numarası</h4>
                            <p>+90 552 865 1927</p>
                        </div>
                    </div>

                    <div class="info-item" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon-box">
                            <i class="bi bi-envelope"></i>
                        </div>
                        <div class="content">
                            <h4>Email Address</h4>
                            <p>esra.kync6666@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="contact-form" data-aos="fade-up" data-aos-delay="300">
                    <h3>İletişime Geçiniz</h3>
                    <p>Başlamak bitirmenin yarısıdır</p>

                    <form action="https://formspree.io/f/mbgrjrpz" method="POST">
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="İsim-Soyisim" required="">
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email" placeholder="Email" required="">
                            </div>

                            <div class="col-12">
                                <input type="text" class="form-control" name="subject" placeholder="Konu" required="">
                            </div>

                            <div class="col-12">
                                <textarea class="form-control" name="message" rows="6" placeholder="Mesaj" required=""></textarea>
                            </div>


                            <div class="col-12 text-center">
                                <div class="error-message"></div>
                                <div class="sent-message">Mesajın bana iletildi, en kısa zamanda dönüş yapacağım. Teşekkürler💖 </div>

                                <button type="submit" class="btn">Mesajı gönder</button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>

</section>
<!-- /Contact Section -->