<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.webp" alt=""> -->
            <!-- Uncomment the line below if you also wish to use an text logo -->
            <!-- <h1 class="sitename">Style</h1>  -->
        </a>

        <nav id="navmenu" class="navmenu">

            <div class="profile-img">
                <img src="assets/img/profile-esra.png" alt="" class="img-fluid rounded-circle">
            </div>

            <a href="index.html" class="logo d-flex align-items-center justify-content-center active">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="assets/img/profile-esra.png" alt="Profile" class="img-fluid">
                <h1 class="sitename">Esra Koyuncu</h1>
            </a>

            <div class="social-links text-center">
                <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                <a href="https://www.linkedin.com/in/esra-koyuncu-a3268b252" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

            <ul>
                <li><a href="#hero">Anasayfa</a></li>
                <li><a href="#about">Hakkımda</a></li>
                <li><a href="#resume">Özgeçmiş</a></li>
                <li><a href="#portfolio">Portföy </a></li>
                <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="#">Dropdown 1</a></li>
                        <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">Deep Dropdown 1</a></li>
                                <li><a href="#">Deep Dropdown 2</a></li>
                                <li><a href="#">Deep Dropdown 3</a></li>
                                <li><a href="#">Deep Dropdown 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Dropdown 2</a></li>
                        <li><a href="#">Dropdown 3</a></li>
                        <li><a href="#">Dropdown 4</a></li>
                    </ul>
                </li>
                <li><a href="#contact">İletişim</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>